tensorflow>=2.0.0
torch>=2.0.0 --extra-index-url https://download.pytorch.org/whl/cu118
keras-nlp
keras>=3
pandas<2
streamlit>1.28.0
mlflow>=2.8.0
transformers==4.34.1
llama-index
torchvision
torchmetrics[detection]
scikit-image
scikit-learn
numba
opencv-python
matplotlib
tqdm
ipython
boto3
scipy
numpy
gradio
retrying
multi-model-server
sagemaker
sagemaker-inference
plotly
skypilot[aws]
awscliv2
python-dotenv
langchain
llama-cpp-python
sentencepiece
flask
trafilatura
notebook
mediapipe
luigi
sshtunnel
face_alignment
psycopg2-binary
m3u8
supervision
seaborn
